# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp
*.bat

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

package.json
package-lock.json
/node_modules/*

a.txt
config.json