html {
    height: 100%;
} 

.mainContent {
    width: auto;
    height: auto;
    background-color: white;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
	-moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    box-shadow: 1px 2px 3px rgba(0,0,0,.5);
}

body {
    background-color: white;
    margin-left: unset;
    margin-top: unset;
    margin-right: unset;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    min-height: 100%;
    position: relative;
}

main {
    padding-bottom: 70px;
}

#editLogo,#usunLogo {
	width:30px;
	height:30px;
}
.ikonki {
	width:30px;
	height:30px;
}
#imageLogo {
	margin-left: 60px;
    height: 150px;
    width: 350px;
}

#title {
    width: 30%;
    text-align: center;
}



.survey:nth-child(5) {
    border-top: none;
}

.navigation li {
    float: left;
    width: 150px;
    font-family: Tahoma, Geneva, sans-serif;
	text-shadow: rgb(0, 0, 0) 0px 0px 1px;
font-size: 19px;
letter-spacing: 1.4px;
word-spacing: 2px;
color: #8822FF;
font-weight: 400;
text-decoration: none;
font-variant: normal;
text-transform: uppercase;
    text-align: center;
    margin: 10px 10px 10px 10px;
    list-style-type: none;
}

.profile {
	float: left;
	width: 23%;
	position: absolute;
	left:38%;
}
.navigation li a {
    margin-left: 0 !important;
}

.flashMessage {
	text-align: center;
	margin: 70px auto;
  padding: 20px;
  background:rgba(168, 165, 172, .2);
  border-radius: 5px;
  -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
-webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
box-shadow: 2px 2px 2px 2px rgba(0,0,0,.5);
  width: 30%;
  position: relative;
  transition: all 1s ease-in-out;
}
.flashMessage:onclick {
	background:rgba(255, 255, 255, .2);
}

.navigation ul {
    float: right;
    width: 65%;
    position: absolute;
    top: 5%;
    right: 0%;
    border-spacing: 8px;
}

.navigation a {
    text-decoration: none;
    color: black;
}


.header {
    font-family: Monaco, monospace;
    border: 1px solid Black;
    position: relative;
    width: 500px;
    height: 300px;
    background-color: yellow;
}
.rozwijane:hover{
	font-size: 120%;
	background-color: lightblue;
}
.rozwijane {
	list-style-type: none;
  opacity: 1;
  -moz-box-shadow: 1px 1px 1px 2px rgba(12,12,12,.4);
-webkit-box-shadow: 1px 1px 1px 2px rgba(12,12,12,.4);
box-shadow: 1px 1px 1px 2px rgba(12,12,12,.4);
}


p {
    margin-left: 25px;
    font-size: 18px;
}
p.opis {
	width:97%;
}

.wyniki {
	background-color: lightblue;
}

.jumbotron {
	font-family: Tahoma, Geneva, sans-serif;
	text-align: center;
	height:50%;
}
.ank {
	list-style-type: none;
	
}
ul.ank {
    position:relative;	
	/*left: %;*/
}
p.opis {
	-moz-box-shadow: 1px 1px 1px 2px rgba(12,12,12,.4);
-webkit-box-shadow: 1px 1px 1px 2px rgba(12,12,12,.4);
box-shadow: 1px 1px 1px 2px rgba(12,12,12,.4);
}
.pytanko {
	position:fixed;
	left:8%;
	font-family: Tahoma, Geneva, sans-serif;
	-moz-box-shadow: 1px 1px 1px 2px rgba(12,12,12,.4);
-webkit-box-shadow: 1px 1px 1px 2px rgba(12,12,12,.4);
box-shadow: 1px 1px 1px 2px rgba(12,12,12,.4);
}
table {
	width:97%;
}
table.ankTable{
	border:1px solid black;
}
.ankTable td {
	box-shadow: 1px 1px 1px 2px rgba(12,12,12,.4);
}
.ankTable td {
	width:30%;
}
.ankTable ul{
	list-style-type: none;
	width:87%;
}
a.ikonki {
	width:30px;
	height:30px;
}
h1, a, form, .jumbotron > div {
    margin-left: 45px;
}

a, a:visited, a:focus {
    color: purple;
}

a:hover {
    color: black;
}

footer {
    /* position: fixed;
    left: 0;
    bottom: 0; */
    width: 100%;
    text-align: left;
    position: absolute;
    bottom: 0;
}
.ankTable ul {
  display: inline;
  margin: 0;
  padding: 0;
}
.osobnoPytania ul {
	width:100%;
}
.ankTable li {display:inline-block; width:100%;}
.ankTable li:hover ul {display: inline-block; position:absolute; right:0%;}
.ankTable li ul {
  position: absolute;
  width: 200px;
  padding:-5px;
  display: none;
}
.ankTable ul li ul {
	position:absolute;
	right:140px;
}
.ankTable ul li ul li { 
  display: inline; 
}
.ankTable ul li ul li a {display:grid !important;} 

.ankTable div a {
  text-decoration: none;
  color: white;
 
  display:inline;
}