<%- include('../templates/header'); %>

<main>
    <div class="jumbotron">
        <h1>Ankietomat - stwórz swoją ankietę!</h1>
        <p>Jesteś klientem prywatnym? A może firmowym?<br>U nas stworzysz swoją ankietę w przeciągu kilku minut,<br> udostępnisz ją znajomym i współpracownikom oraz uzyskasz statystyki odnośnie odpowiedzi.</p>
    </div>
</main>

<%- include('../templates/footer'); %>