<%- include('../templates/header'); %>

<main>
    <div class="jumbotron">
        <h1>Nowa ankieta</h1>

        <% for(var i=0; i<surveys.length; i++) {%>
            <%= surveys[i].title%>
            <br />
         <% } %>
    </div>
</main>

<%- include('../templates/footer'); %>