<%- include('../templates/header'); %>

<main>
    <div class="jumbotron">
        <h1>Lista ankiet</h1>

        <a href="<%=siteUrl%>/survey/new">- Stwórz ankietę</a>
        <br /><br />

        <% for(var i=0; i<surveys.length; i++) {%>
            <%= surveys[i].title%>
            <br />
         <% } %>
    </div>
</main>

<%- include('../templates/footer'); %>